<web-app>
    <display-name>Link Parser</display-name>

    <servlet>
        <servlet-name>parser</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>parser</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>